.layout{
	position: relative;
	border: 1px solid rgba(255, 68, 68, 0.06);
}
.layer {
	position: absolute;
	top: 0px;
	left: 0px;
}
.item {
	padding: 0 !important;
	margin: 0 !important;
	position: absolute;
	background-color: rgba(211, 211, 211, 0.03) !important;
	-webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}
.item:hover{
	background-color: rgba(211, 211, 211, 0.1);
}
#fcanvas{
	border: 1px solid rgba(200,200,200,0.2);
	position: absolute;
	z-index: 1111;
}